body {
  text-align: center;
  background: url('../img/stowers-flag-bkgd.png') no-repeat top center;
  background-color: #16243e;
}
.headings .stowers-logo {
  padding-top: 40px;
  padding-bottom: 50px;
}
.headings .mission-statement {
  padding-top: 40px;
  font-style: italic;
}
.headings .mission-statement p {
  font-size: 28px;
  font-family: 'BaskervilleMTStd-Italic';
  font-style: italic;
}
.newsletter {
  padding: 37px 0 60px 0;
}
.newsletter form {
  padding-bottom: 20px;
}
.newsletter form input[type="text"] {
  background-color: #16243e;
  border: 1px solid white;
  width: 228px;
  height: 30px;
  color: #ffffff;
  padding-left: 20px;
}
.newsletter form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
}
.newsletter form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1;
}
.newsletter form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}
.newsletter form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ffffff;
}
.newsletter form input[type="submit"] {
  background-color: #9d1730;
  width: 86px;
  height: 31px;
  border: none;
  font-style: italic;
}
.newsletter form input[type="submit"]:hover {
  background-color: #0c1625;
}
.newsletter p {
  font-size: 12px;
}
.mission-quote p {
  font-size: 28px;
  font-style: italic;
}
footer {
  padding-top: 60px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  display: inline-block;
  margin-left: 20px;
  border-left: 1px solid #a40e2b;
  padding-left: 22px;
  font-family: "Century Gothic", Helvetica, sans-serif;
  letter-spacing: 3px;
}
