
@body-color: #f1f1f1;
@light-text: #c3c3c3;
@dark-text: #555555;
@link-green: #2ecc71;
@link-green-hover: #37f387;
@light-text: #8e939a;
@border: #eeeeee;
@very-light-bg: #f6f6f6;
@darkish-black: #2e373f;


/*HEADER SECTION*/

#top-area {
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  background-color: @border;
}


/*action bar*/

#action-bar {
  height: 55px;
  padding: 21px 0 0 4px;
  vertical-align: middle;
  position: relative;

}

.logo{
  margin-top: -25px;

  h1{
    font-weight: bold;
    font-size: 36px;
  }

  a{
    color: @dark-text;

  }
}

.list{
  margin-top: -11px;
  margin-left: -19px;
}

#action-bar #logo-accent {
  color: @link-green;
}

/*product search form*/

#action-bar .search-form p input{

  border: 1px solid @border;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: @light-text;
  padding: 5px 4px 5px 24px;
  margin-left: -28px;
}

#action-bar .search-form form i, {
  position: relative;
  left: -4px;
  color: @light-text;
}



#action-bar .search-form .search {
  border: 1px solid #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px 4px;

}

/*user menu*/

.user-menu{
  padding: 0;
  margin-top: -7px;
}

.view-cart{
  padding-top: 8px;
}

.extra{
  height: 40px;
}


/*MAIN CONTENT AREA*/

#main-content {
  padding: 20px 0 0 30px;
}

#main-content h2, #main-content h3 {
  color: @link-green;
  margin-bottom: 20px;
}

#main-content h3 {
  color: @dark-text;
  margin-bottom: 5px;
  a{
    color: @dark-text;
  }
}

/*#main-content h3 a:link, #main-content h3 a:visited {
  color: @link-green-hover;
  text-decoration: none;
}*/

#main-content h5 {
  color: @dark-text;
  margin-bottom: 20px;
}

#main-content p {
  margin-bottom: 25px;
}

#main-content hr {
  margin-bottom: 20px;
}

#product .instock {
  color: #9dbb6f;
}

.product .outofstock {
  color: red;
}

/*buttons*/

.cart-btn {
  padding: 10px 10px 10px 0;
  background-color: @darkish-black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.cart-btn:link, .cart-btn:visited {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.cart-btn .price {
  background-color: @link-green;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}



/**********************************************
        SIGN-IN PAGE
***********************************************/

#signin-form, #signup {
  text-align: center;
  padding: 10px 0 30px 0;
}

#signin-form {
  background-color: @very-light-bg;
}

#signin-form h1, #signup h2 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 20px;
}

#signup h3 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 50px;
}

#signin-form form i, #signin-form form span  {
  position: relative;
  left: 25px;
  color: @light-text;
}

#signin-form input {
  width: 300px;
  padding: 10px 10px 10px 30px;
  margin-bottom: 10px;
  border: 1px solid @border;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: @light-text;
}


/**********************************************
        NEW ACCOUNT PAGE
***********************************************/

#new-account {
  margin: 0 auto 30px auto;
  padding: 20px;
  color: @darkish-black;
}

#new-account h1{
//  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 15px;
}

#new-account label{
  font-weight: lighter;
}

#new-account .required-field {
  color: @link-green;
}



/* ============================================================================
   MY ACCOUNT LINKS
   ============================================================================ */

#account {

  border-right: 1px solid @border;
  text-align: left;
  display: inline-block;
  *display: inline;
  *zoom: 1;

  h3{
    color: @light-text;
  }

  ul{
    margin-left: 20px;
    color: @link-green;
  }

  a{

    &:hover {
      color: @link-green;
     }
  }
}


/* ============================================================================
   ORDER DETAILS
   ============================================================================ */

#order-details {
  text-align: left;
  margin-bottom: 60px;
  padding-left: 20px;
}

#order-details {

  h1{
    color: @darkish-black;
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 24px
  }

  h2{
    color: @darkish-black;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px;
    background: @very-light-bg;
    padding: 15px;
  }

  p{
    color: @dark-text;
    margin-left: 50px;
  }

  table {
    color: @dark-text;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid @border;

    th{
      padding: 20px;
    }

    td{
      padding: 10px 20px;
    }
  }

}

.total {
  text-align: right;
  span{
      font-weight: bold;
  }
}






/*FOOTER */

footer h4 {
  color: #c3c3c3;
  margin-bottom: 15px;
}

footer #contact {
  background-color: @very-light-bg;
  height: 167px;
  text-align: center;
}

footer #contact h3 {
  color: @dark-text;
  padding-top: 50px;
}

/* --- links ---- */

footer #links {
  padding: 20px 0;
}

 a:link, footer #links a:visited {
  color: @dark-text;
  text-decoration: none;
}

footer #links ul {
  margin-left: 13px;
  color: @link-green;
}

footer #copyright {

}

footer #copyright #store-copy {
  color: #c3c3c3;
}


#logo #logo-accent{
  color: @link-green;
}

footer #connect ul {
  margin-left: -38px;
  li{
    list-style: none;
  }
}





/* ============================================================================
   Buttons
   ============================================================================ */

.default-btn {
  background-color: @link-green-hover;
  color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 5px 0px @link-green;
  text-decoration: none;
}

.tertiary-btn {
  background-color: #f6f6f6;
  color: #5f5e5e;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 5px 0px #b8b8b8;
  text-decoration: none;
}









