@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

@uber-blue: #1b294b;
@uber-text-color: #707e9d;
@approved: #11cbc2;
@waiting: #ce6a40;
@icon-color: #10acdc;
@white: #ffffff;
@uber-green: #32d89a;
@uber-grey: #cccccc;
@hover-color: #f7f7f9;
@light-blue: #10acdc;
@reject-red: #f3436f;

.sidebar {
  background-color: @uber-blue;
  height: 1527px;
  .uber-logo{

    img{
      width: 100px;
      margin: 10px 0 0 27px;
    }
  }

  .profile{

    img{
      margin-top: 10px;
      width: 35%;
      border: 1px solid white;
    }
  }

  .rating{
    //width: 50%;
  }

  .side-menu{

    li{
      &:hover{
        color: @white;
      }
      a{
        i{
          color: @icon-color;
        }
        &:hover{
          background-color: @uber-blue;
          color: @white;
        }

      }
    }

  }
}


.inbox {
  border-right: 1px solid @uber-grey;
  padding: 0;
  .input-group{
    span{
      .btn{
        border-radius:0;
      }
    }
    .form-control{
      border-radius:0;
    }
  }
//background-color: @icon-color;


    .mail-list{
      .message-box{
        padding-bottom: 20px;
        padding-top: 8px;
        border-bottom: 1px solid @uber-grey;
        margin: 0px;
        &:hover{
          background-color: @hover-color;
          cursor: pointer;
        }
        .left-mail{
          i{
            padding: 10px 0 0 73px;
            color: @uber-green;
          }
        }
        .right-mail{
          h4{
            color: @uber-text-color;
          }
          h5{
            color: @uber-blue;
          }
          p{
            font-size: 10px;
            color: @uber-text-color;
          }
        }
        .price{
          padding-top: 12px;
          padding-left: 4px;
          p{
            font-weight: bold;
            font-size: 20px;
          }
          .time{
            padding-top: 69px;
            font-size: 13px;
            padding-left: 17px;
          }


          i{
            color: @waiting;
          }
        }
      }
    }


}

.details {
  .controls {
    border-bottom: 1px solid @uber-grey;

    .edit {
      a {
        color: @light-blue;
      }
    }

    .approve {
      a {
        color: @approved;
      }
    }

    .reject {
      a {
        color: @reject-red;
      }
    }

    .link-box {
      padding: 7px 10px;
      text-align: center;
      border-right: 1px solid @uber-grey;

      .reject {
        color: @reject-red;
      }
    }
  }

  .banner{

    .logo-text{
      font-size: 24px;
      font-family: "Open Sans";
    }

  }

  .uber-logo {
      padding-bottom: 50px;
    .expense {
      color: @uber-grey;
      font-family: "Open Sans", sans-serif;
    }
  }

  .itinery{
    padding-bottom: 50px;
    .it-details{
      padding-bottom: 20px;
    }


    .d-right{
      margin-left: -33px;

      small{
        color: @uber-grey;
      }
    }

    .d-left{
      padding-left: 52px;
      i{
        color: @uber-grey;
      }
    }
  }
  
  .main-tag{
    padding-bottom: 50px;
    .tags{
      border-top: 1px solid @uber-grey;
      .left-info{
        p{
          padding-top: 30px;
          color: @uber-grey;
        }
        .directions{
          p{
            color: @uber-green;
          }

        }
      }
      .right-info{
        border-left: 1px solid @uber-grey;
        p{
          padding-top: 30px;
          color: @uber-grey;
        }
      }
    }
  }

  .google-maps{
    padding-bottom: 50px;
    iframe{
      //height: 200px;
    }

  }

  .comments{
    .sub-comment{
      padding-top: 50px;
    }
  }
  
}




