@font-face {
  font-family: colossalis;
  src: url('Colossalis Bold.ttf');
}
body {
  border-top: 8px solid #3694b7;
}
.logo h2 {
  display: inline-block;
  font-size: 3em;
  margin-top: 0px;
  padding-right: 5px;
  font-size: 57px;
}
.logo h3 {
  border-left: 2px solid #2b2b2b;
  display: inline-block;
  color: #2b2b2b;
  padding-left: 10px;
  position: relative;
  font-size: 57px;
}
.social ul {
  list-style-type: none;
}
.social ul li {
  display: inline-block;
}
.social ul li a {
  text-decoration: none;
  color: #2b2b2b;
}
.social ul li a i {
  font-size: 3.5em;
  transition: color .5s;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
}
.social a:hover i.fa-facebook-square {
  color: #3B5998;
}
.social a:hover i.fa-twitter-square {
  color: #4099ff;
}
.social a:hover i.fa-youtube-square {
  color: #d34836;
}
.social a:hover i.fa-google-plus-square {
  color: #ff3333;
}
nav {
  border: 1px solid #ccc;
  height: 45px;
  clear: both;
}
.main-nav {
  float: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.main-nav li {
  border-right: 1px solid #ccc;
  float: left;
  position: relative;
  width: 100px;
  height: 45px;
}
.main-nav li a {
  color: #a1a1a1;
  font-size: 14px;
  padding-top: 14px;
  text-decoration: none;
  text-align: center;
  position: absolute;
  width: 100px;
  height: 43px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
}
.main-nav li a:hover {
  background-color: #eee;
}
.search {
  color: #a1a1a1;
  float: right;
  margin: 10px 10px 0 0;
}
.search input {
  border: 1px solid #a1a1a1;
  background-color: #eee;
  border-radius: 30px;
  padding-left: 8px;
}
.search a {
  color: #a1a1a1;
  text-decoration: none;
}
