@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);
.sidebar {
  background-color: #1b294b;
  height: 1527px;
}
.sidebar .uber-logo img {
  width: 100px;
  margin: 10px 0 0 27px;
}
.sidebar .profile img {
  margin-top: 10px;
  width: 35%;
  border: 1px solid white;
}
.sidebar .side-menu li:hover {
  color: #ffffff;
}
.sidebar .side-menu li a i {
  color: #10acdc;
}
.sidebar .side-menu li a:hover {
  background-color: #1b294b;
  color: #ffffff;
}
.inbox {
  border-right: 1px solid #cccccc;
  padding: 0;
}
.inbox .input-group span .btn {
  border-radius: 0;
}
.inbox .input-group .form-control {
  border-radius: 0;
}
.inbox .mail-list .message-box {
  padding-bottom: 20px;
  padding-top: 8px;
  border-bottom: 1px solid #cccccc;
  margin: 0px;
}
.inbox .mail-list .message-box:hover {
  background-color: #f7f7f9;
  cursor: pointer;
}
.inbox .mail-list .message-box .left-mail i {
  padding: 10px 0 0 73px;
  color: #32d89a;
}
.inbox .mail-list .message-box .right-mail h4 {
  color: #707e9d;
}
.inbox .mail-list .message-box .right-mail h5 {
  color: #1b294b;
}
.inbox .mail-list .message-box .right-mail p {
  font-size: 10px;
  color: #707e9d;
}
.inbox .mail-list .message-box .price {
  padding-top: 12px;
  padding-left: 4px;
}
.inbox .mail-list .message-box .price p {
  font-weight: bold;
  font-size: 20px;
}
.inbox .mail-list .message-box .price .time {
  padding-top: 69px;
  font-size: 13px;
  padding-left: 17px;
}
.inbox .mail-list .message-box .price i {
  color: #ce6a40;
}
.details .controls {
  border-bottom: 1px solid #cccccc;
}
.details .controls .edit a {
  color: #10acdc;
}
.details .controls .approve a {
  color: #11cbc2;
}
.details .controls .reject a {
  color: #f3436f;
}
.details .controls .link-box {
  padding: 7px 10px;
  text-align: center;
  border-right: 1px solid #cccccc;
}
.details .controls .link-box .reject {
  color: #f3436f;
}
.details .banner .logo-text {
  font-size: 24px;
  font-family: "Open Sans";
}
.details .uber-logo {
  padding-bottom: 50px;
}
.details .uber-logo .expense {
  color: #cccccc;
  font-family: "Open Sans", sans-serif;
}
.details .itinery {
  padding-bottom: 50px;
}
.details .itinery .it-details {
  padding-bottom: 20px;
}
.details .itinery .d-right {
  margin-left: -33px;
}
.details .itinery .d-right small {
  color: #cccccc;
}
.details .itinery .d-left {
  padding-left: 52px;
}
.details .itinery .d-left i {
  color: #cccccc;
}
.details .main-tag .tags {
  border-top: 1px solid #cccccc;
}
.details .main-tag .tags .left-info p {
  padding-top: 30px;
  color: #cccccc;
}
.details .main-tag .tags .left-info .directions p {
  color: #32d89a;
}
.details .main-tag .tags .right-info {
  border-left: 1px solid #cccccc;
}
.details .main-tag .tags .right-info p {
  padding-top: 30px;
}
