/*HEADER SECTION*/
#top-area {
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  background-color: #eeeeee;
}
/*action bar*/
#action-bar {
  height: 55px;
  padding: 21px 0 0 4px;
  vertical-align: middle;
  position: relative;
}
.logo {
  margin-top: -25px;
}
.logo h1 {
  font-weight: bold;
  font-size: 36px;
}
.logo a {
  color: #555555;
}
.list {
  margin-top: -11px;
  margin-left: -19px;
}
#action-bar #logo-accent {
  color: #2ecc71;
}
/*product search form*/
#action-bar .search-form .search {
  border: 1px solid #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px 4px;
}
/*user menu*/
.user-menu {
  padding: 0;
  margin-top: -7px;
}
.view-cart {
  padding-top: 8px;
}
.extra {
  height: 40px;
}
/*MAIN CONTENT AREA*/
#main-content {
  padding: 20px 0 0 30px;
}
#main-content h2,
#main-content h3 {
  color: #2ecc71;
  margin-bottom: 20px;
}
#main-content h3 {
  color: #555555;
  margin-bottom: 5px;
}
#main-content h3 a {
  color: #555555;
}
/*#main-content h3 a:link, #main-content h3 a:visited {
  color: @link-green-hover;
  text-decoration: none;
}*/
#main-content h5 {
  color: #555555;
  margin-bottom: 20px;
}
#main-content p {
  margin-bottom: 25px;
}
#main-content hr {
  margin-bottom: 20px;
}
#product .instock {
  color: #9dbb6f;
}
.product .outofstock {
  color: red;
}
/*buttons*/
.cart-btn {
  padding: 10px 10px 10px 0;
  background-color: #2e373f;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.cart-btn:link,
.cart-btn:visited {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}
.cart-btn .price {
  background-color: #2ecc71;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}
/**********************************************
        SIGN-IN PAGE
***********************************************/
#signin-form,
#signup {
  text-align: center;
  padding: 10px 0 30px 0;
}
#signin-form {
  background-color: #f6f6f6;
}
#signin-form h1,
#signup h2 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 20px;
}
#signup h3 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 50px;
}
#signin-form form i,
#signin-form form span {
  position: relative;
  left: 25px;
  color: #8e939a;
}
#signin-form input {
  width: 300px;
  padding: 10px 10px 10px 30px;
  margin-bottom: 10px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #8e939a;
}
/*FOOTER */
footer h4 {
  color: #c3c3c3;
  margin-bottom: 15px;
}
footer #contact {
  background-color: #f6f6f6;
  height: 167px;
  text-align: center;
}
footer #contact h3 {
  color: #555555;
  padding-top: 50px;
}
/* --- links ---- */
footer #links {
  padding: 20px 0;
}
a:link,
footer #links a:visited {
  color: #555555;
  text-decoration: none;
}
footer #links ul {
  margin-left: 13px;
  color: #2ecc71;
}
footer #copyright #store-copy {
  color: #c3c3c3;
}
#logo #logo-accent {
  color: #2ecc71;
}
footer #connect ul {
  margin-left: -38px;
}
footer #connect ul li {
  list-style: none;
}
/* ============================================================================
   Buttons
   ============================================================================ */
.default-btn {
  background-color: #37f387;
  color: #fff;
  padding: 15px 35px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 5px 0px #2ecc71;
  text-decoration: none;
}
